<query-editor-row query-ctrl="ctrl" class="sos-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">

    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Container
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.container'
                                               placeholder='container name'
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>

    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Schema
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.schema' 
                                               placeholder="schema name"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>

    <!--
    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Index
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.index' 
                                               placeholder="index name"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>
    -->
    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Comp ID
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.comp_id'
                                               placeholder="component id" 
                                               data-min-length=0 data-items=100
                                               ng-blure="ctrl.onChangeInternal()">
      </input>
    </div>
    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Index
      </label>
      <metric-segment-model get-options="ctrl.getIdxAttrs()" property="ctrl.target.index"
                            on-change="ctrl.onChangeInternal()" css-class="tight-form-iterm-xxlarge">
      </metric-segment-model>
    </div>
  </div>
  <div class="gf-form-inline">
    <div ng-dropdown-multiselect="" options="[{id:1, label='foo'},{id:2, label:'bar'}]" selected-model="metrc_select">
    </div>
    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">Query Type</label>
        <div class="gf-form-select-wrapper">
          <select ng-model="ctrl.target.query_type" class="gf-form-input"
                  ng-options="qt as qt for qt in ['metrics', 'derivative', 'least_sq', 'bollinger', 'log']"
                  ng-blur="ctrl.onChangeInternal()">
          </select>
        </div>
    </div>
    <div class="gf-form max-width-25">
      <label class="gf-form-label query-keyword width-8">
        Metric
      </label>
      <metric-segment-model get-options="ctrl.getMetrics()" property="ctrl.target.target"
                            on-change="ctrl.onChangeInternal()" css-class="tight-form-iterm-xxlarge">
      </metric-segment-model>
    </div>

<!-- end metric params -->


  </div>
</query-editor-row>
