<query-editor-row query-ctrl="ctrl" can-collapse="true" class="sos-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">

    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Format
      </label>
          <select ng-model="ctrl.target.format" class="gf-form-input" placeholder="format"
    	          ng-options="qt as qt for qt in [ 'time_series', 'table' ]"
                  data-min-length=0 data-items=100
                  ng-blur="ctrl.onChangeInternal()">
          </select>
    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Container
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.container'
                                               placeholder='container name'
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Schema
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.schema'
                                               placeholder="schema name"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Job ID
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.job_id'
                                               placeholder="job id"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Comp ID
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.comp_id'
                                               placeholder="component id"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>

    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        User Name
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.user_name'
                                               placeholder="user name"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>

    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">
        Metric
      </label>
      <input type="text" class="gf-form-input" spellcheck='false' ng-model='ctrl.target.target'
                                               placeholder="Metric(s)"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>
  </div>
  <div class="gf-form-inline">
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">Query Type</label>
        <div class="gf-form-select-wrapper">
          <select ng-model="ctrl.target.query_type" class="gf-form-input"
                  ng-options="qt as qt for qt in ['metrics', 'analysis']"
                  ng-blur="ctrl.onChangeInternal()">
          </select>
        </div>
    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-8">Analysis</label>
      <input type="text" class="gf-form-input" spellcheck="false" ng-model="ctrl.target.analysis"
                                               placeholder="analysis module"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>

    </div>
    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-9">
        Extra Parameters
      </label>
      <input type="text" class="gf-form-input" spellcheck="false" ng-model="ctrl.target.extra_params"
                                               placeholder="extra parameters"
                                               data-min-length=0 data-items=100
                                               ng-blur="ctrl.onChangeInternal()">
      </input>
    </div>

<!-- end metric params -->


  </div>
</query-editor-row>
